@import "nullstyle";
.layout{
  position: absolute;
  width: 100%;
  height: 100%;
}
.site-layout-content {
  position: absolute;
  padding: 24px;
  background: #fff;
  width: 90%;
  left: 5%;
  height: 90%;
  bottom: 5%;
}
